<div id="<%= dom_id book %>">
  <p>
    <strong>Título:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Número de Páginas:</strong>
    <%= book.page %>
  </p>

</div>
